<div class="container animated fadeIn">
    <div class="title"><h2>I’m not able to make a payment</h2></div>
    <hr>
    <div class="row block">
        <div class="col-xs-2"><i class="fa fa-question-circle-o text-red"></i></div>
        <div class="col-xs-10"><h3>Check if your country and operator is supported</h3></div>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-default text"><img src="../../assets/icons/estonia.png" width="20" height="auto">Estonia</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="glyphicon glyphicon-chevron-down"></i> <span class="sr-only">Toggle Dropdown</span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Estonia</a></li>
            <li><a href="#">Another</a></li>
            <li><a href="#">Another</a></li>
        </ul>
    </div>

    <div class="block">
        <div class="input-group-title">Select your mobile operator:</div>
        <div class="row">
            <div class="list-group operators">
                <a class="list-group-item" href="#"><img class="logo" src="../../assets/icons/elisa.png" alt="">Elisa</a>
                <a class="list-group-item" href="#"><img class="logo" src="../../assets/icons/tele2.png" alt="">Tele2</a>
                <a class="list-group-item" href="#/telia"><img class="logo" src="../../assets/icons/telia.png" alt="">Telia</a>
            </div>
        </div>
        <button class="btn btn-outline">I can't find my operator</button>
    </div>
</div>