<div class="container animated fadeIn">
    <div class="title"><h2>I’m not able to make a payment</h2></div>
    <hr>
    <div class="block">
        <div class="row operator">
            <div class="col-xs-2"><i class="fa fa-check-circle-o disabled"></i></div>
            <div class="col-xs-10">My operator is: <br><b>Telia</b></div>
        </div>
        <hr>
        <div class="row operator">
            <div class="col-xs-2"><i class="fa fa-question-circle-o"></i></div>
            <div class="col-xs-10"><h3>Do you use a pre-paid card or you have a postpaidcontract with yourmobile operator?</h3></div>
        </div>
    </div>


    <div class="row">
        <div class="list-group">
            <a class="list-group-item" href="#/home">Contact</a>
            <a class="list-group-item" href="#/nopayment">Prepaid</a>
        </div>
    </div>
</div>