<div class="container animated fadeIn">
    <div class="title"><h2>I’m not able to make a payment</h2></div>
    <hr>
    <div class="block">
        <div class="row operator">
            <div class="col-xs-2"><i class="fa fa-check-circle-o disabled"></i></div>
            <div class="col-xs-10">Do you use a pre-paid card or you have a post-paidcontract with your mobile operator?<br><b>Contract</b></div>
        </div>
        <hr>
        <div class="row operator">
            <div class="col-xs-2"><i class="fa fa-question-circle-o"></i></div>
            <div class="col-xs-10"><h3>Does your contract allow Premium SMS services?</h3></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-6"><button class="btn btn-outline">No</button></div>
        <div class="col-xs-6"><button class="btn btn-primary">Yes</button></div>
    </div>
    <div class="block operator">
        <p>Your mobile contract must allow Premium SMS services to be able to make payments with Fortumo.</p>
        <p><b>Please check out with youroperator if your contract allows sending SMS</b></p>
    </div>
</div>